#essay{
	width: 80vw;
}

textarea{
	width:70%%;		
}

select {
     width: 70%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     resize: vertical;
}

fieldset {
margin-top:1%;
margin-bottom:1%;
padding-bottom:1%;
padding-top:1%;	
}

span { display: block; margin: 0 0 3px;}