body {
    /* specify page font and max width */
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 2%;
    max-width:90%;
}


img{
    width: 30%;
    height: 60%;
}

img:hover{
    opacity: .7;
    cursor: pointer;
}

.Animals{
    background-color: white;
    width: 100%;
}

h2{
    font-size: 2vw;
    border-bottom: .1vw solid;
    
}
h2 span{
    background-color: #4BD7D7;
    border: .1vw solid black;
    color: white;
    padding: .5%;
}

h2 span:hover{
    color: palevioletred;
    cursor: pointer;
}

/* stories */

.highlights--container {
    width: 55%%;
}


.highlights--media{
    float:left;
}

.highlights--media img{
width:300px;height:300px;margin-right:15px;
}

.highlights--button{
    float:right;
}



p {
    font-style: italic;
    font-size:100%;
}