.Animals img{
    width: 30%;
    height: 60%;
}

.Animals img:hover{
    opacity: .7;
    cursor: pointer;
}

.Animals{
    background-color: white;
    width: 100%;
}

h2{
    border-bottom: .1vw solid;
    margin: 40px 0px 20px 0px;
    
}

h2 span{
    background-color: #14234A;
    border: .1vw solid black;
    color: white;
    padding: .5%;
}

/* stories */

.highlights--container {
    width: 55%%;
}

.highlights--media {
    float:left;
}

.highlights--media img {
width:300px;height:300px;margin-right:15px;
}

.highlights--button {
    float:right;
}