@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>
<h3>Mission Statement</h3>

<p>
    The basic mission of the Long Beach Animal Shelter is to offer gentle animal caring through provides them a safe and happy home with family.
    We also help human for finding their lost pets or have a beautiful pet to make them happier. We are keen on serving, looking after and sheltering homeless companion animals.
</p>

<h4>Core tasks: </h4>
<ul>
    <li>Find your lost Pet</li>
    <li>Adopt a pet </li>
    <li>Found Pet</li>
</ul>