
@{
    ViewBag.Title = "Adopt";
}


<form method="post">
    <fieldset>
        <legend>Answer the following questions</legend>
        <div class="form-group">
            <label class="col-md-6 control-label"> Have you ever adopted another pet? </label>
            <div class="col-md-10">
                <input class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-6 control-label"> Have you ever had another pet? </label>
            <div class="col-md-10">
                <input class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-6 control-label"> Insert your ID </label>
            <div class="col-md-10">
                <input class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-6 control-label"> Insert your home address </label>
            <div class="col-md-10">
                <input class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-6 control-label"> How many members are there in you family? </label>
            <div class="col-md-10">
                <input class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-6 control-label"> Do you have any other pets? (List them if the answer is yes) </label>
            <div class="col-md-10">
                <input class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label>&nbsp;</label>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </fieldset>
</form>

