@{
    ViewBag.Title = "Contact";
}
<h2>Contact US</h2>
<h3>Contact us here to provide you with more information, answer any questions</h3>

<header>
    <img src="https://cityofallen.org/ImageRepository/Path?filePath=%2FDocuments%5CContent%5C123%2F1020161527_HDR.jpg" class="banner" alt="" />
    <div class="banner--title">
        <h1>Contact US</h1>
        <h2>contact us here to provide you with more information, answer any questions</h2>
    </div>
</header>

<address>
    Long Beach Boulevard<br />
    Long Beach, CA 90865<br />
    <strong>Phone Number: </strong><a href="tel:855-123-4567">(855) 123-4567</a>
</address>

<address>
    <strong>Email: </strong><a href="mailto:longbeachanimalshelter@animalshelter.com">longbeachanimalshelter@animalshelter.com</a><br />
</address>