@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Long Beach Boulevard<br />
    Long Beach, CA 90865<br />
    <strong>Phone Number: </strong><a href="tel:855-123-4567">(855) 123-4567</a>
</address>

<address>
    <strong>Email: </strong><a href="mailto:longbeachanimalshelter@animalshelter.com">longbeachanimalshelter@animalshelter.com</a><br />
</address>