@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Long Beach Animal Shelter</h1>
    <p class="lead">Welcome to the Long Beach Animal Shelter Webpage!</p>
</div>


<h1><span>Mission</span></h1>
<p>
    Our goal is all animals, who are in need of a forever home, are given opportunity for a home and family to given them the best care and shown boundless love with their new family. Also, we hope for increasing support for the animal population.
</p>

<h2><span>Adopt Animals</span></h2>
<div class="Animals">
    <img src="https://topdogtips.com/wp-content/uploads/2017/09/Best-Animal-Shelters-2.jpg">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNK0Fi6ZHCQbhMujkaoZRdkzDXzAd1z8raeMYdFNAen9-N_srSPw">
    <img src="https://www.bwar.org/wp-content/uploads/2015/08/dante-and-luci-small.jpg">
    <a href="#" class="highlights--button">See More</a>

</div>

<h2><span>Recently Found Animals</span></h2>
<div class="Animals">
    <img src="http://www.trbimg.com/img-584f3ae0/turbine/ct-ptb-pets-in-shelters-st-1212-20161212" alt="Light Brown Table" width="400">
    <img src="https://static.youcaring.com/api/uploads/fundraisers/469759/63a751c1-30db-4b1f-a421-f62a7fb8679b_profile.jpg" alt="Soft Chair" width="400">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW80s76eB_10yoKnx9QgRM3oZhuz0WAWnAqPpm5LZmtIFKITwD" alt="Red Chair" width="400">
    <a href="#" class="highlights--button">See More</a>

</div>

<h2><span>Stories</span></h2>
<div class="row">
    <article>
        <div class="highlights--container">
            <div class="highlights--media">
                <img src="https://i.pinimg.com/originals/5d/2d/11/5d2d11f83b251ad0e4c761bc8d20512e.jpg" alt="kid found his dog">
            </div>
            <div class="highlights--text">
                <h4>Kid found his dog</h4>
                <p><em>Alexandra with Cucumba, 2/21/2018</em></p>
                <p>We finaly found our dog Cucumba at the beach. He was crying because a lobster bit him, the lobster bit him because he was hungry. Alexandra, 9. Wamboin. One day when I got back from school, I suddenly noticed my pet dog Lucky was missing.</p>
                <!--<a href="#" class="highlights--button">Read More About This</a>-->
            </div>
        </div>
    </article>
</div>