@{
    ViewBag.Title = "Changed home page";
}

<div class="jumbotron">
    <h1>Long Beach Animal Shelter</h1>
    <p class="lead">Welcome to the Long Beach Animal Shelter Webpage!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About us</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Adopt</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find your pet</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>